.IconographyContent {
  padding-top: 24px;
}

.IconographyText {
  display: block;
  color: white;
  line-height: 1.5;
}

.IconographyTextDark {
  display: block;
  color: var(--gray-10);
  line-height: 1.5;
}

.IconographyTextDarkBold {
  display: block;
  color: var(--gray-11);
  font-weight: 600;
  line-height: 1.5;
}

.IconographyText:last-of-type {
  margin-bottom: 0;
}

.IconographyScrollContainer {
  max-height: 60vh;
  overflow-y: auto;
}

.IconographyParagraph {
  display: block;
  line-height: 1.5;
}

.IconographyBreak {
  height: 16px;
}
