button,
p {
  all: unset;
}

.NavigationMenuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  color: white;
}

.MobileNavMenuContent {
  background-color: #111113;
  animation-duration: 400ms;
  animation-name: menuSlideDownAndFade;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  will-change: transform, opacity;
  padding: 5% 10%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 20;
  width: 300px;
  max-height: var(--radix-dropdown-menu-content-available-height);
}

.MobileNavMenuCollapsibleTrigger {
  width: 240px;
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 16px;
  color: color(display-p3 0.692 0.704 0.728);
  cursor: pointer;
}
.MobileNavMenuCollapsibleTrigger:hover {
  background-color: color(display-p3 0.163 0.163 0.163);
  color: white;
}

.MobileNavMenuCollapsibleContent {
}

.MobileNavMenuSubItem {
}

@keyframes menuSlideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
