button,
p {
  all: unset;
}

.MobileNavigationContainer {
  position: static;
}

.NavigationMenuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  color: white;
}

.MobileNavMenuContent {
  position: absolute;
  left: 0;
  top: 72px;
  padding: 8px 0;
  background-color: #111113;
  animation-duration: 400ms;
  animation-name: menuSlideDownAndFade;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto,
    "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
  will-change: transform, opacity;
  z-index: 10;
  width: 100%;
  height: auto;
}

.MobileNavMenuCollapsibleTrigger {
  width: 100%;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  font-size: 16px;
  color: color(display-p3 0.692 0.704 0.728);
}

.MobileNavMenuCollapsibleContent {
  margin-left: 16px;
  margin-bottom: 16px;
}

.MobileNavMenuItem {
  padding: 12px 16px;
}

.MobileNavMenuItemLink {
  display: block;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: color(display-p3 0.692 0.704 0.728);
  padding: 12px 16px;
}

.MobileNavMenuCollapsibleContent .MobileNavMenuItemLink {
  color: white;
}

@keyframes menuSlideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
