@import "@radix-ui/colors/black-alpha.css";

/* reset */
button,
p {
  all: unset;
}

.NavigationContainer {
  align-items: flex-end;
  position: relative;
}

.MobileNavigation {
  display: none;
}

.NameText {
  font-size: 16px;
}

.NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 0;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 16px;
  color: var(--gray-11);
}
.NavigationMenuTrigger:hover,
.NavigationMenuLink:hover {
  background-color: var(--gray-4);
  color: white;
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 1;
}

.NavigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.NavigationMenuContent[data-motion="from-start"] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion="from-end"] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion="to-start"] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion="to-end"] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.NavigationMenuIndicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  background-color: var(--gray-4);
  border-radius: 6px;
  overflow: hidden;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}
.NavigationMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.List {
  padding: 16px;
  margin: 0;
  list-style: none;
  width: 220px;
}

.ListItemLink {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--gray-11);
}

.ListItemLink:hover {
  color: white;
  background-color: var(--gray-2);
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: -233px;
  perspective: 2000px;
}

.CaretDown {
  position: relative;
  color: var(--gray-11);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state="open"] > .CaretDown {
  transform: rotate(-180deg);
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: var(--gray-4);
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

.SocialIcon {
  width: 24px !important;
  height: 24px !important;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .NavigationMenuRoot {
    display: block;
  }

  .MobileNavigation {
    display: none;
  }

  .NameText {
    font-size: 14px;
  }

  .NavigationMenuLink,
  .NavigationMenuTrigger {
    font-size: 14px;
    padding: 8px;
  }

  .SocialIcon {
    width: 24px !important;
    height: 24px !important;
  }

  .ViewportPosition {
    left: -180px;
  }
}

@media screen and (max-width: 959px) {
  .NavigationContainer {
    align-items: center;
  }

  .NavigationMenuRoot {
    display: none;
  }

  .MobileNavigation {
    display: block;
  }

  .NameText {
    font-size: 12px;
  }
}
